body {
  font-family: sans-serif;
}

.input > *{
  font-size: 16pt;
}

.defaultText {
    color: gray;
}

.bugSummary {
  &:before {
    content: " ";
  }
}

.bugLink {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  .bugSummary {
    color: black;
  }
}

.bug-RESOLVED {
  .bugId {
    text-decoration: line-through;
  }
}
